* {
  margin: 0;
  font-family: Arial;
  border: border-box;
}
/* box 1 */
.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
/* box 1 */
.navLogo {
  height: 50px;
  width: 100px;
}
.logo {
  height: 50px;
  width: 100%;
  background-image: url(imageForAmazon/amazon_logo.png);
  background-size: cover;
}
.boder {
  border: 1.5px solid transparent;
}
.boder:hover {
  border: 1.5px solid white;
}
/* box 2  */
.addressFirst {
  color: #cccccc;
  font-size: 1rem;
  margin-left: 25px;
}
.addressSecond {
  font-size: 0.85rem;
  margin-left: 3px;
}
.addIcoc {
  display: flex;
  align-items: center;
}
/* box 3 */
.navSearch {
  display: flex;
  justify-content: space-evenly;
  background-color: pink;
  width: 620px;
  height: 40px;
  border-radius: 5px;
}
.navSearch:hover {
  border: 2px solid orange;
}
.sreachSlect {
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
}
.searchInput {
  width: 100%;
  font-size: 1rem;
  border: none;
}
.searchIcon {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #febd68;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #0f1111;
}
/* box 4 */
span {
  font-size: 0.7rem;
}
.navSecond {
  font-size: 0.85rem;
  font-weight: 700;
}
/* box 5 */

.navCart i {
  font-size: 30px;
}
.navCart {
  font-size: 0.85rem;
  font-weight: 700;
}
/* panel */

.panel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 40px;
  background-color: #222f3d;
  color: white;
}
.panelOps p {
  display: inline;
}
.panelOps {
  font-size: 0.85rem;
  width: 70%;
  margin: 15px;
}
.panelDeal {
  font-size: 0.9rem;
  font-weight: 700;
}
/* hero section  */
.hero {
  background-image: url(imageForAmazon/hero_image.jpg);
  height: 400px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
/* hero text  */
.herotext {
  background-color: white;
  color: black;
  height: 40px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  margin-bottom: 25px;
}
.herotext a {
  color: #007185;
}
/* shop Section */
/* .shop {
  background-color: #e2e7e6;
  display: flex;
  justify-content: space-evenly;
}
.box {
  border: 2px solid black;
  height: 400px;
  width: 23%;
  background-color: white;
  padding: 20px 0px 15px;
}
.boxImage {
  height: 300px;
}
.boxContentLL {
  margin-left: 1rem;
  margin-right: 1rem;
} */
.shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #e2e7e6;
}
.box {
  /* border: 2px solid black; */
  width: 23%;
  height: 400px;
  background-color: white;
  padding: 20px 0px 15px;
  margin-top: 15px;
}
.boxImage {
  height: 300px;
  background-size: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.boxContent {
  margin-left: 1rem;
  margin-right: 1rem;
}
.boxContent p {
  color: #007185;
}
/* this is footer  */
footer {
  margin-top: 15px;
}
.footpanel1 {
  background-color: #37475a;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
}
.footpanel2 {
  background-color: #222f3d;
  color: white;
  height: 500px;
  display: flex;
  justify-content: space-evenly;
}
ul {
  margin-top: 10px;
}
ul a {
  display: block;
  font-size: 0.85em;
  margin-top: 10px;
  color: #dddddd;
}
.footpanel3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222f3d;
  color: white;
  border-top: 0.5px solid white;
  height: 70px;
}
.lastLogo {
  height: 50px;
  width: 100px;
  background-image: url(imageForAmazon/amazon_logo.png);
  background-size: cover;
}
.footpenal4 {
  background-color: #0f1111;
  color: white;
  height: 80px;
  font-size: 0.7rem;
  text-align: center;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.pages {
  padding-top: 25px;
}
.CopyRight {
  padding-top: 5px;
}
